.notifications {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}
.notification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50% 50% 50% 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-body {
  flex-grow: 1;
}

.title {
  margin: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  margin: 0;
  font-size: 0.9rem;
}

.time {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
  color: #888;
}

/* make close button on the top right corner */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  color: #888;
  font-size: 1.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
